body {
  background-color: #FEFEFE;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif !important;
  color: #000024;
  position: relative;
  font-size: 1.1rem !important;
}

.container {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  line-height: 1.8 !important;
  max-width: 68rem !important;
  padding-left: 5em !important;
  padding-right: 5em !important;


}

.container img {
  width: 100%;
}
/* Navbar info */
.logo {
  width: 35px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em !important;
}

.nav a {
  margin-left: 1.5em;

}

.hamburger {
  display: none;
}

#no-margin {
  margin-left: 0em ;
}

a {
  text-decoration: none !important;
  color: #000024 !important;
}

a:hover{
  color: #647279 !important;
}

/* Header */
.header {
  padding-top: 4em;
  padding-bottom: 5em;
}

h1 {
  font-size: 48pt !important;
  font-weight: normal !important;
}

h2 {
  font-size: 36pt !important;
}

h3 {
  font-size: 20pt !important;
  margin-bottom: .5em !important;
  font-weight: normal !important;
}

.header h3 {
  color: #647279;
  margin-top: 1em;
  margin-bottom: 1em;
}


.rainbow {
  display: inline;
  color: #000024;
  background-image: linear-gradient(to right, #EDB5D5 , #F2B5BD, #F6D3B5, #FCF7BC, #DAEBBA, #BBE1EF);
  padding-left: .2em;
  padding-right: .2em;
}

.highlighter {
  display: inline !important;
  color: #000024;
  font-weight: bold;
  padding-left: .2em;
  padding-right: .2em;
}



/* Projects */

.project-card {
  margin-bottom: 2em;
  border-radius: .5em;
  width:100%;
  min-width: 12em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 2px 2px 15px lightgrey;
}
.project-card:hover {
  transition: 250ms background-color;
  position: relative;
  top: -5px;
}
.project-text {
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.project-tag {
  background-color: #F1F7F9;
  border-radius: 1.5em;
  padding: .2em;
  padding-left: .5em;
  padding-right: .5em;
  display: inline-flex;
  
}

.project-bg-big {
  border-radius: .5em;
  margin-bottom: 1em;
}

.project-bg-big img {
  width: 100%;
}

.project-bg {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}

.project-bg img {
  width: 100%;
}

#edsight-bg {
  background-color: #F6DAEA;
}

#rooted-bg {
  background-color: #EDF5DD;
}

#lilo-bg {
  background-color: #DDF0F7;
}

#gamein-bg {
  background-color: #E7E7FF;
}

#digi-bg {
  background-color: #FDFBDD;
}

#inline {
  display: flex;
}

/* Footer */
.footer {
  background-color: #F1F7F9;
}
.grey {
  color: #647279;
}

hr {
  color: #647279;
  margin-top: 5em !important;
  margin-bottom: 5em !important;
}

.link {
  text-decoration: underline !important;
  color: #647279 !important;
}

.row {
  margin-top: 2em;
  margin-bottom: 2em;
}

h4 {
  margin-top: 1em !important;
  margin-bottom: .5em !important;
}

.caption {
  color: #647279;
  text-align: center;
}

#smol {
  text-align: center;
}

.featureWidth {
  width: 20em !important;
}

.indent {
  margin-left: 2em;
}

button {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: none;
  color: #4F705E;
  background-color: #DAEBBA;
  padding: 1em;
  margin-top: 1em !important;
  border-radius: .5em !important;
}

.callout {
  display: flex;
  padding: 1em;
  background-color: #e7e9ea;
}
#center {
  display: flex;
  justify-content: center;
}

/* Make back to top button */

.scroll-container {
  position: absolute !important;
  top: 0 !important;
  right:5vw !important;
  height: 100% !important;
  
}

.scroll-container:before {
  content: '';
  display: block;
  height: 120vh;
  pointer-events: none;
}

.scroll-container a {
  position: sticky !important;
  top: 84vh;
  cursor: pointer;
  padding: 1em;
  border-radius: 50% !important;
  background-color: #242424;
  color: #FEFEFE !important;
  display: flex;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: left;
  align-content: center;
  align-items: center;
}

.socials a {
  font-size: 23px;
  margin-right: .8em;
}



/* For mobile phones: */
@media only screen and (max-width: 600px) {

  [class*="col-"] {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}


/* Hide the link that should open and close the nav-text on small screens */
.nav-text .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the nav-text (.icon) */
@media screen and (max-width: 600px) {
  .nav-text a:not(:first-child) {display: none;}
  .nav-text a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the nav-text with JavaScript when the user clicks on the icon. This class makes the nav-text look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-text.responsive {position: relative;}
  .nav-text.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-text.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


b {
  color: #000024;
}
.gradient {
  background: -webkit-linear-gradient(#f05fdf, #3D5BE1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: inline;
}