/* Variables for dark mode */
:root {
    --color: #28262C;
    --background-color: #FEFEFE;
    --blue: #949CC7;
    --yellow: #F9CB40;
    --red: #FF715B;
    --light: #E4E7F1;
    --inactive: #afafaf;
}

body {
    background-color: var(--background-color) !important;
    color: var(--color) !important;
    font-family: 'Work Sans', sans-serif;

    transition: background-color 500ms, color 500ms;

}

/* Navigation bar + logo */
#inline-element {
    text-align: left;
    display: inline;
    height: 2em;
}
#navRow {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
}
#navRow img {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}
#navRow .material {
  color: #28262C;
  text-decoration: none;
  margin: .5em;
}
#navRow .material:hover {
  color: #949CC7;
}
nav {
    font-family: 'Work Sans';
    text-align: right;
}

nav a {
    margin-left: 1.5em;
    color: var(--inactive);
    text-decoration: none;
}
nav a:hover {
    color: var(--blue);
}
nav a.active:hover {
    color: var(--blue);
}
nav a.active {
    color: var(--color);
    /*border-bottom-width: 3px;
    border-bottom-style:solid;
    border-bottom-color: var(--blue);
    padding-bottom: 10px;*/

}
 button {
    display: inline;
    background-color: black;
    color: #FEFEFE;
    border-radius: .5em !important;
    border: solid black;
    padding-left: .5em;
    padding-right:.5em;
    margin-bottom: 2em !important;
}

button:hover {
    background-color: transparent;
    color: var(--blue);
    border: solid 2px var(--blue);
}

.abutton {
  text-decoration: none;
}

/* Header */
header {
    text-align: left;
    padding-top: 8vw;
    padding-bottom: 3vw;
}
header h1 {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 4.1vw;
}
header h3 {
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

.inline h1{
    display: inline;
    font-weight: 800;
}

.inline {
    margin-bottom: .5em;
}
.red {
    color: var(--red);  
}
.yellow {
    color: var(--yellow);  
}
.blue {
    color: var(--blue);
}
#arrow {
    width: 1em;
    display: inline;
}

#circle {
    margin-right: 3em;
    border-radius: 50%;
    padding: 2em;
    height: 12em;
    width: 12em;
    background-color: var(--color);
    color:var(--light);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bounce a {
  text-decoration: none;
}

#firstRow {
  padding-top: 1em;
}

.right {
    display: flex;
    justify-content: end;
}

/* Footer */
footer {
    background-color: #E4E7F1;
    padding-bottom: 3em;
    padding-top: 3em;
    margin-top: 2em;
}

footer a {
    color:var(--color);
    margin-left: .5em;
    margin-right: .5em;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;

}

/* Home page */
.center {
    text-align: center;
    background-color: transparent;
}
.left {
  text-align: left !important;
}

img {
  width: 100%;
  border-radius: 2em;
}
.col-md-6 img {
  border-radius: 1em;
}

#view {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
}
#viewmore {
    display: flex;
}
#subtitle {
    margin-top: auto;
}
#sub-header {
    margin-bottom: 3em;
    margin-top: 7em

}
.col-md-6 img {
    width: 100%;
    height: auto;

}
#middlealign {
  vertical-align: middle !important;
  display: block !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.col-sm-4 img {
  width: 100%;
}

.wireframe {
  border: 1px solid #E4E7F1;

}

.apps {
  text-decoration: none;
  border-radius: 1vw;
}
.apps:hover {
    background-color: #E4E7F1;
    color: #28262C !important;
}

/* About page */
#about {
    padding-top: 4em;
}

#about h1 {
    margin-bottom: .5em;
    margin-top: .5em;
    font-family: "Work Sans";
    font-weight: 700;
}

#about p {
    margin-top: 1.5em;
}

.bounce {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

.korean {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--yellow);
}


.switch {
    position: relative;
    display: inline-block;
    width: 3.2em;
    height: 1.6em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #949CC7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 4px;
    bottom: 4px;
    background-color: #FEFEFE;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BB86FC;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BB86FC;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  /* Apps */

  .app-header {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
  }
  .app-header .col-md-6 {
    margin-top:auto;
    margin-bottom: auto;
    display: block;
  }

  .app-header h1 {
    font-size: calc(1vw + 50px);
    margin-bottom: .5em;
  }

 

  .app-background h1 {
    margin-bottom: 1em;
    text-align: left;
  }


  .app-background img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .card {
    padding: 2em !important; 
    border-radius: 1em !important;
    margin-bottom: 2em !important;
    margin-top: 1em !important;
  }

  .sketch {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
  }

  .sketch img {
    width: calc(100%/2);
    height: auto;
  }
  
  .scanners {
    display: flex;
    justify-content: space-between;
  }
  .scanners img {
    width: calc(100%/4.5);

  }

  #nospace {
    margin: 0;
    padding: 0;
  }

  .prototype {
    color:#28262C;
    text-decoration: none;
  }
  .prototype:hover {
    color:#949CC7;
  }
  .vertical-center {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
  }

  /* Contact Page */
  .contact p {
    margin: 0;;
  }
  .contact .iconify {
    margin-bottom: 1em;
    color:#28262C;
  }
  .contact .material-icons {
    margin-bottom: .7em;
    color:#28262C;
  }

  .contact a {
    color: #28262C;
    text-decoration: none;
  }

  .contact h1 {
    font-size: calc(1vw + 50px);
    margin-top: .5em;
    margin-bottom: 1.5em;
  }

  #fontGraphics {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: calc(1vw + 50px);
    text-align: center;
  }
  #pGraphics {
    text-align: center;
    margin-bottom: 5em;
  }

  video {
    width: 100%;
  }

.card-no-outline {
  padding-bottom: 2vw;
}

.container {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}
#app-col {
  padding: 2vw;
}


#name-logo {
  width: 5em !important;
  margin-right: 100% !important;
}

#leftalign {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: auto;
}

#midalign {
  vertical-align: middle !important;
  display: block;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.blue-blurry-gradient {
  transform: translate(5vw, 4vw);
  width: 13em;
  height: 13em;
	border-radius: 50%;  
	filter: blur(70px);
  background: radial-gradient(circle at 50% 50%,#949CC7, rgba(76, 0, 255, 0));
}
.yellow-blurry-gradient {
  transform: translate(65vw, -13vw);
  width: 13em;
  height: 13em;
	border-radius: 50%;  
	filter: blur(70px);
  background: radial-gradient(circle at 50% 50%,#F9CB40, rgba(76, 0, 255, 0));
}
.red-blurry-gradient {
  transform: translate(55vw, -17vw);
  width: 13em;
  height: 13em;
	border-radius: 50%;  
	filter: blur(70px);
  background: radial-gradient(circle at 50% 50%,#FF715B, rgba(76, 0, 255, 0));
}

ul {
  margin-left: 4em;
}

.center-p {
  color:#949CC7;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color:#28262C !important;
}
a:hover {
  color:#949CC7 !important;
}

.card h3 {
  margin-bottom: 1.5em;
}

.row {
  margin-bottom: 10vw;;
}

hr {
  margin-top: 8em !important;
  margin-bottom: 8em !important;
}

.caption {
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
}

p {
  line-height: 2;
  margin-top: 1em;
}

ul {
  line-height: 2;
}


/* Rooted app */

#rootedFinal2 {
  width: 45vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rootedImg {
  width: 45vw !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-3 img {
  border-radius: 1vw;
}

#app-col h3 {
  margin-bottom: 1em;
}


hr {
  height: 2px !important;
}

.rootedHighlight {
  color: #16A63E;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
}

.rootedh1 {
  font-weight: bold;
  text-align: center !important;
  margin-bottom: 3em !important;
}

.qteaHighlight {
  color: #7879F1;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
}

.yumtumHighlight {
  color: #FF715B;
  display: inline;
  font-weight: 500;
  text-transform: uppercase;
}


iframe {
  margin-top: 2em !important;
  margin-bottom: 3em !important;
}

video {
  margin-bottom: 2em !important;
  margin-top: 2em !important;
}

.border {
  border: 2px solid #28262C;
}



h2 {
  font-weight: bold;
  margin-bottom: 1em !important;
}

#feature {
  padding-left: 6vw;
  padding-right: 6vw;
}

.col-md-6 {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.paddingLeft {
  padding-left: 2em;
}

.paddingRight {
  padding-right: 2em;
}

.yumimg {
  text-align: left;
  width: 80%;
}

.rainbow {
  background-image: linear-gradient(to right, #EDB5D5 , #F2B5BD, #F6D3B5, #FCF7BC, #DAEBBA, #BBE1EF);
  display: inline;
  padding-left: .2em;
  padding-right: .2em;
  border-radius: .1em;
}
